---
import Icon from "./Icon.astro";
import { SquareArrowUpRight } from 'lucide'
---

<a href="/contact" class="flex items-center justify-center gap-2 px-6 py-3 bg-text hover:opacity-80 text-white uppercase font-medium active:scale-95">
    Book Now
     <Icon icon={SquareArrowUpRight} />
</a>