<a 
    id="logo"
    href="/" 
    class="flex items-center gap-1 px-2 font-logo text-3xl md:text-2xl group border border-transparent hover:bg-text hover:text-white/70 transition-all active:scale-95"
>
    <img 
        src="/img/logo.png" 
        width="47" 
        height="39" 
        class="group-hover:filter group-hover:invert" 
    />

    <span class="min-w-max ">
        Kelly Ann Creations
    </span>
    
</a>