---
import type { HTMLAttributes } from 'astro/types';

/** Width of Wrapper.
 * Default is width of 72rem, 1152px
 * full = 100%
 * text = 70ch
 */
type width = 'full' | 'default' | 'slim'

interface Props extends HTMLAttributes<'section'> {

    /** 
     * Width of Section
     */
    width? : width

    /** 
     * Width of Content div.
     */
    contentWidth? : width

    /** 
     * Default padding applied to inline, block, or both 
     * When px or py is set to none, no px or py is set to allow
     * other paddings added thru class prop
     * 
     */
    px? : 'default' | 'none',
    py? : 'default' | 'none',
    
    class? : string,

    /**
     * @prop width: 'full' | 'default' | 'slim',
     * @prop contentWidth: 'full' | 'default' | 'slim',
     * @prop px 'default' | 'none'
     * @prop py 'default' | 'none'
     * @prop class
     * @prop slot
     */
    props? : true
}

const { 
    width = 'default',
    contentWidth = 'default',
    px = 'default',
    py = 'default',
    class : className = '',
    ...rest
} = Astro.props
---

<section
    class:list={[
        'mx-auto w-full relative',
        `${width === 'default' ? 'max-w-[1600px]' : ''}`,
        `${width === 'slim'    ? 'max-w-[70ch]'   : ''}`,
        `${px === 'default'    ? 'px-3 md:px-8'           : ''}`,
        `${py === 'default'    ? 'py-12 md:py-16'           : ''}`,
        className
    ]} 
    {...rest}
>

        { contentWidth === 'full' && 
            <slot />
        }

        { contentWidth === 'default' &&
            <div class="max-w-[1600px] mx-auto">
                <slot />
            </div>
        }

        { contentWidth === 'slim' &&
            <div class="max-w-[70ch] mx-auto">
                <slot />
            </div>
        }

</section>