
<a 
    href="#content"
    class="absolute inset-[0_0_auto_0] z-[9999] p-4 -translate-y-24 focus:translate-y-0 text-center font-bold bg-bg-dark text-text transition-all duration-300 "
>
    Skip to content
</a>
