---
import SkipToContent from '../../components/SkipToContent.astro';
import '../../css/config.css'
import Footer from '../../components/Footer.astro';
import ContactLinks from '../../components/Nav/ContactLinks.astro';
import NavCTALink from '../../components/Nav/NavCTALink.astro';
import NavLinks from '../../components/Nav/NavLinks.astro';
import HeaderTopBar from '../../components/Headers/HeaderTopBar.astro';
import Meta from '../../components/Meta.astro';
import type { Layout } from '../../config';


interface Props extends Layout { }

const {
    title,
    description,
	lang,
	class : className = ''
} = Astro.props
---

<html lang={lang}>

	<Meta title={title} description={description} materialIcons decap	/>

	<body class={`bg-[var(--body-bg-color)] text-[var(--body-text-color)] font-base ${className}`}>

		<SkipToContent />

		<HeaderTopBar props>

			<NavLinks slot='navLinks' />
			
		</HeaderTopBar>
		
		<slot />

        <Footer />

		<slot name="pageEnd" />
	</body>
</html>
