---
import { ClientRouter } from 'astro:transitions';
import '../assets/css/style.css'
import Nav from '../components/Nav.astro';
import Section from '../components/Section.astro';
import Logo from '../components/Logo.astro';
import H2 from '../components/H2.astro';
import TextBlock from '../components/TextBlock.astro';
import BookNowButton from '../components/BookNowButton.astro';
import BackToTop from '../components/BackToTop.astro';
import SkipToContent from '../components/SkipToContent.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">

		<!-- More info re: preload google fonts at https://stackoverflow.com/questions/45983301/google-pagespeed-eliminate-render-blocking-resources-above-the-fold-caused-fro -->
		<link
			rel="preload"
			href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Gloock&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			as="style"
			onload="this.onload=null;this.rel='stylesheet'"
		/>
		<noscript>
			<link
				href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Gloock&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
				rel="stylesheet"
				type="text/css"
			/>
		</noscript>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Gloock&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

		<ClientRouter />

		<slot name="title">
			<title>
				Kelly Ann Creations
			</title>
		</slot>

		<meta name="description" content="Kelly Ann Creations is a local, independent baker in Port Coquitlam BC. We specialize in custom cakes, wedding cakes, and other baked goods." />

		<slot name="head" />

	</head>
	<body 
		class="font-base bg-bg-light text-lg text-text tracking-wider"
		data-mobile-menu="close"
	>

		<SkipToContent />

		<header id="top">
			<Nav />
		</header>

		<main id="content">
			<slot />
		</main>

		<footer>

			<Section class="bg-bg-dark mt-16">

				<div class="grid md:grid-cols-2 gap-y-12 items-center py-8 ">

					<TextBlock>
						<H2>
								Ready to Make Your Event <br /> Deliciously Unforgettable?
						</H2>
						<p>
							Get in touch today for a free consultation or to place your order! Let's make your sweet dreams come true. Whether it's a wedding, birthday, or any special occasion, we'll bring your vision to life (and make it taste amazing).
						</p>
						<BookNowButton />
					</TextBlock>
					
					<div class="flex flex-col items-center gap-4">
						<Logo />
						<a 
							href="/" 
							class="hover:bg-text hover:text-white transition-colors active:scale-90 px-2"
						>
							Home
						</a>
						<a 
							href="/gallery" 
							class="hover:bg-text hover:text-white transition-colors active:scale-90 px-2"
						>
							Gallery
						</a>
						<a 
							href="/contact" 
							class="hover:bg-text hover:text-white transition-colors active:scale-90 px-2"
						>
							Contact
						</a>
					</div>

				</div>

			</Section>
		</footer>

		<BackToTop />

	</body>
</html>
