---
import { ClientRouter } from 'astro:transitions';
import '../assets/css/style.css'
import Nav from '../components/Nav.astro';
import Section from '../components/Section.astro';
import Logo from '../components/Logo.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>Kelly Ann Creations</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Gloock&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

		<ClientRouter />

		<slot name="head" />

	</head>
	<body 
		class="font-base bg-bg-light text-lg text-text tracking-wider"
		data-mobile-menu="close"
	>

		<header>
			<Nav />
		</header>

		<slot />

		<footer class="flex flex-col items-center gap-4 py-20 bg-bg-dark mt-12">
			<Logo />
			<a 
				href="/" 
				class="hover:bg-text hover:text-white transition-colors active:scale-90 px-2"
			>
				Home
			</a>
			<a 
				href="/gallery" 
				class="hover:bg-text hover:text-white transition-colors active:scale-90 px-2"
			>
				Gallery
			</a>
			<a 
				href="/contact" 
				class="hover:bg-text hover:text-white transition-colors active:scale-90 px-2"
			>
				Contact
			</a>
		</footer>

	</body>
</html>
