---
import Link from '../Link.astro';

interface Props {

    /** Link href of Nav Link */
    href : string,

    /** Material icon string */
    icon? : string

    class? : string,

    /**
     * @prop href (string)
     * @prop icon (string)
     * @prop slot
     */
    props? : true
}

const {
    href,
    icon,
    class : className = ''
} = Astro.props
---

<li class="nav-link">
    <Link 
        to={href} 
        class={`lenis-link nav-link-a flex items-center gap-2 hover:underline hover:underline-offset-4 ${className} `}
    >

        {icon && icon }

        <slot />
    </Link>
</li>


<style is:global>

li.nav-link {
    display : none;
    transition: all 250ms;
}

@media (min-width: 768px) {
    li.nav-link {
        display: block;
    }
}

.mobile-menu-is-open li.nav-link {
    display: block;
}

</style>



<script>

const navLinks = document.querySelectorAll('.nav-link-a')
navLinks.forEach( link => link.addEventListener('click', () => {
    document.body.classList.remove('mobile-menu-is-open')
}))

</script>
